<html>
  <head></head>
  <body>
    <form>
    <p> ENTER YOUR WORD TO BE CIPHERED </p>
    <input type='text' name='word'/>  <%= word %>
    <P> ENTER YOUR SHIFT VARIABLE </p>
    <input type="number" name="shift" min="1" max="10">
    <input type="submit">
    </form>
    <p>
    </p>
  </body>
</html>
